@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add new Machine</h3>
@using (Html.BeginForm())
{
  <p>@Html.Label("Description:")
  @Html.TextBoxFor(model => model.MachineDescription, new {@Value = "Enter description", required = true})
  </p><br />
  <p>@Html.Label("Assign to Machine(not required to create):")
  @Html.CheckBox("EngineerId")
  </p> <br />

  <input type="submit" value="Add Machine" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>