@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Currently editing: @Html.DisplayFor(model => model.MachineDescription)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Name:")
  @Html.EditorFor(model => model.MachineDescription) <br />

  @Html.Label("Engineers licensed to operate:")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>