@{
  Layout = "_Layout";
}
@using System
@model Factory.Models.Engineer

<h3>Add a new Engineer</h3>
@using (Html.BeginForm())
{
  <p>@Html.Label("Name:")
  @Html.TextBoxFor(model => model.EngineerName, new {@Value = "Enter name", required = true})
  </p><br />
  <p>@Html.Label("Assign to Machine(not required to create):")
  @Html.DropDownList("MachineId")
  </p>
  <input type="submit" value="Add Engineer" class="btn btn-primary"/>
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>