@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
<h1></h1>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>Please add an Engineer!</h3>
}
else
{
  <h3>Current Engineers and assigned machinery</h3>
<ul>
  @foreach(var join in Model.JoinEntities)
  {
      <li>@Html.ActionLink($"{join.engineer.EngineerName}", "Details", new { id = join.engineer.EngineerId })</li>
    <ol>
    <li>@Html.ActionLink($"{join.machine.MachineName}", "Details", new { id = join.machine.MachineId })</li>
    </ol>
  }
</ul>
}
<p>@Html.ActionLink("Add new Engineer", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
